fastapiannotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
certifi==2026.4.22
charset-normalizer==3.4.7
decorator==5.2.1
fastapi==0.136.1
idna==3.13
ImageIO==2.37.3
imageio-ffmpeg==0.6.0
markdown-it-py==4.0.0
mdurl==0.1.2
moviepy==2.2.1
mutagen==1.47.0
numpy==2.4.4
pillow==11.3.0
proglog==0.1.12
pydantic==2.13.3
pydantic_core==2.46.3
Pygments==2.20.0
python-dotenv==1.2.2
redis==7.4.0
requests==2.33.1
rich==15.0.0
spotipy==2.26.0
starlette==1.0.0
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
yt-dlp==2026.3.17